<!DOCTYPE html>
<html lang="en">
    <%-include('layouts/header');-%>
    <body>
        <!-- Navigation-->
        <%-include('layouts/navbar');-%>

        
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/driveTest.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Dashboard</h1>
                            <span class="subheading">Drive Test Booking</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">You can book G/G2 drive test from this Kiosk</h2>
                            <h3 class="post-subtitle">You can book G/G2 drive test from this Kiosk</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Ontario Drive Test</a>
                            on October 2, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">New Offsite Testing Location!</h2>
                            <h3 class="post-subtitle">The Kitchener DriveTest Centre has secured a new commercial motor vehicle offsite testing location to increase commercial road test appointment availability in the Kitchener area!                            </h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Ontario Drive Test Center</a>
                            on October 1, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%-include('layouts/footer');-%>
        
        <!-- Bootstrap core JS-->

        <%-include('layouts/scripts');-%>
    </body>
</html>